body {
    font: normal .8em/1.5em Arial, Helvetica, sans-serif;
    color: #666;
}
.nav {
    margin: 0;
    padding: 7px 6px 0;
    background: #7d7d7d url(img/gradient.png) repeat-x 0 -110px;
    line-height: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    z-index: 10;
}
.nav li {
    margin: 0 5px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
}
.nav a {
    font-weight: bold;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding:  8px 20px;
    margin: 0;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
    text-shadow: 0 1px 1px rgba(0,0,0, .3);
}

.nav ul {
    display: none;
}
/* Sub menu khi hover qua category */
.nav ul li:hover a, #nav li:hover li a {
    background: none;
    border: none;
    color: #666;
}
/* dropdown menu */
.nav li:hover > ul {
    display: block;
}

/* level 2 list */
.nav ul {
    display: none;

    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 35px;
    left: 0;
    background: #ddd url(img/gradient.png) repeat-x 0 0;
    border: solid 1px #b4b4b4;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
.nav ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.nav ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;//TEst
}

/* menu 3+ */
.nav ul ul {
    left: 181px;
    top: -3px;
}
.nav ul li a{
    color:#666;
}

/* Style all font awesome icons */
.fa {
    padding: 8px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Twitter */
.fa-instagram {
    background: #125688;
    color: white;
}

/* Twitter */
.fa-google-plus {
    background: #dd4b39;
    color: white;
}